In [1]:
# 导入tushare
import tushare as ts
import pandas as pd
import my_settings

In [2]:
ahldf = pd.read_csv(r"data\AH_stock_list.csv", encoding="utf-8-sig")
ahldf

     ts_code_A  name ts_code_HK
0    000039.SZ  中集集团   02039.HK
1    000063.SZ  中兴通讯   00763.HK
2    000157.SZ  中联重科   01157.HK
3    000166.SZ  申万宏源   06806.HK
4    000333.SZ  美的集团   00300.HK
..         ...   ...        ...
103  688187.SH  时代电气   03898.HK
104  688236.SH  春立医疗   01858.HK
105  688331.SH  荣昌生物   09995.HK
106  688505.SH  复旦张江   01349.HK
107  688981.SH  中芯国际   00981.HK

[108 rows x 3 columns]

In [3]:
# 分批次拉 A 股市值等基本数据

pro = ts.pro_api(my_settings.tushare_api)
result = None
for idx, a_ts_code in ahldf["ts_code_A"].items():
    print(a_ts_code)
    # 初始化pro接口

    # 拉取数据
    df = pro.daily_basic(
        **{
            "ts_code": a_ts_code,
            "trade_date": "",
            "start_date": my_settings.date_start,
            "end_date": my_settings.date_end,
            "limit": "",
            "offset": "",
        },
        fields=[
            "ts_code",
            "trade_date",
            "close",
            "turnover_rate",
            "turnover_rate_f",
            "volume_ratio",
            "pe",
            "pe_ttm",
            "pb",
            "ps",
            "ps_ttm",
            "dv_ratio",
            "dv_ttm",
            "total_share",
            "float_share",
            "free_share",
            "total_mv",
            "circ_mv",
        ]
    )
    if result is None:
        result = df
    else:
        result = pd.concat([result, df], ignore_index=True)
# save to csv
result.to_csv("data\AH_stock_daily_A_basic.csv", index=False, encoding="utf-8-sig")

000039.SZ
000063.SZ
000157.SZ
000166.SZ
000333.SZ
000338.SZ
000776.SZ
000831.SZ
000898.SZ
000921.SZ
000951.SZ
001236.SZ
001289.SZ
002050.SZ
002202.SZ
002352.SZ
002399.SZ
002460.SZ
002466.SZ
002490.SZ
002672.SZ
002703.SZ
002803.SZ
002821.SZ
002865.SZ
002936.SZ
002948.SZ
300347.SZ
300748.SZ
300750.SZ
300759.SZ
600016.SH
600026.SH
600030.SH
600036.SH
600050.SH
600188.SH
600196.SH
600276.SH
600332.SH
600547.SH
600585.SH
600635.SH
600660.SH
600685.SH
600690.SH
600801.SH
600875.SH
600876.SH

C:\Users\pp\AppData\Local\Temp\ipykernel_8972\3569813897.py:43: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  result = pd.concat([result, df], ignore_index=True)

600941.SH
600958.SH
600988.SH
600999.SH
601068.SH
601088.SH
601111.SH
601186.SH
601211.SH
601238.SH
601288.SH
601298.SH
601318.SH
601326.SH
601328.SH
601336.SH
601390.SH
601398.SH
601456.SH
601598.SH
601600.SH
601601.SH
601607.SH
601618.SH
601628.SH
601633.SH
601658.SH
601717.SH
601727.SH
601728.SH
601766.SH
601788.SH
601811.SH
601866.SH
601880.SH
601881.SH
601888.SH
601898.SH
601899.SH
601916.SH
601919.SH
601939.SH
601963.SH
601988.SH
601991.SH
601992.SH
601995.SH
601998.SH
603127.SH
603259.SH
603288.SH
603906.SH
603993.SH
688009.SH
688187.SH
688236.SH
688331.SH
688505.SH
688981.SH

In [4]:
result

,ts_code,trade_date,close,turnover_rate,turnover_rate_f,volume_ratio,pe,pe_ttm,pb,ps,ps_ttm,dv_ratio,dv_ttm,total_share,float_share,free_share,total_mv,circ_mv
0,000039.SZ,20250704,8.02,2.2429,2.9058,0.76,14.5501,12.5995,0.8974,0.2434,0.2386,0.2714,0.2714,539252.0385,230140.7141,177640.7141,4.324801e+06,1.845729e+06
1,000039.SZ,20250703,8.11,3.7307,4.8332,1.44,14.7134,12.7409,0.9075,0.2462,0.2413,0.2684,0.2684,539252.0385,230140.7141,177640.7141,4.373334e+06,1.866441e+06
2,000039.SZ,20250702,8.30,6.5965,8.5461,4.14,15.0581,13.0394,0.9287,0.2519,0.2469,0.2622,0.2622,539252.0385,230140.7141,177640.7141,4.475792e+06,1.910168e+06
3,000039.SZ,20250701,7.89,1.3317,1.7253,0.77,14.3143,12.3953,0.8829,0.2395,0.2347,0.2758,0.2758,539252.0385,230140.7141,177640.7141,4.254699e+06,1.815810e+06
4,000039.SZ,20250630,7.86,1.4123,1.8297,0.73,14.2599,12.3482,0.8795,0.2386,0.2339,0.2769,0.2769,539252.0385,230140.7141,177640.7141,4.238521e+06,1.808906e+06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
310334,688981.SH,20200722,79.57,12.8763,12.8763,NaN,328.9448,293.0287,6.2947,26.7986,24.7978,NaN,NaN,741547.5343,104023.1223,104023.1223,5.900494e+07,8.277120e+06
310335,688981.SH,20200721,78.63,15.5613,15.5613,NaN,325.0588,289.5670,6.2203,26.4821,24.5048,NaN,NaN,741547.5343,104023.1223,104023.1223,5.830788e+07,8.179338e+06
310336,688981.SH,20200720,79.17,21.9743,21.9743,NaN,327.2912,291.5556,6.2630,26.6639,24.6731,NaN,NaN,741547.5343,104023.1223,104023.1223,5.870832e+07,8.235511e+06
310337,688981.SH,20200717,77.06,21.0983,21.0983,NaN,306.5803,273.1061,5.8667,24.9766,23.1118,NaN,NaN,713642.3226,104023.1223,104023.1223,5.499328e+07,8.016022e+06
310338,688981.SH,20200716,82.92,53.0751,53.0751,NaN,329.8941,293.8743,6.3129,26.8760,24.8693,NaN,NaN,713642.3226,104023.1223,104023.1223,5.917522e+07,8.625597e+06